<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rakuten_App_ID</key>
	<string>1049367822702192103</string>
	<key>Rakuten_App_Seclet</key>
	<string>edb2a8604a91de21a9883c9a8fb5649c77bc0f1e</string>
</dict>
</plist>
